.maindiv {
  margin-right: 10%;
  margin-left: 10%;
}

.box {
  background: -webkit-linear-gradient(left, #4f5bd3, #00c6ff);
  max-height: 700px;
  padding-top: 1%;
  padding-bottom: 8%;


}

.form-box {
  padding-bottom: 5%;
  background: linear-gradient(
    89.94deg,
    #fefcfc -41.85%,
    rgba(254, 252, 252, 0) 121.65%
  );
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 5%;
  padding-top: 5%;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.25);
}
.ibutton {
  /* font-family: 'Poppins'; */
  font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: 0.96px;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #8693f3, #4f5bd3);
}
.imglogo {
  max-height: 30px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.fico {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  padding-top: 10px;
  letter-spacing: 0.72px;
  text-align: left;
  color: #ffffff;
}

.ficon {
  font-size: 30px;
  color: #fff;
}
.flogo {
  width: 33px;
  height: 30px;
}.ft2 {
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.96px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 500px) {
  .form-box {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-box h3 {
  font-weight: bold;
  text-align: center;
  color: #4f5bd3;
}

@media (max-width: 550px) {
  .form-box h3 {
    font-size: large;
  }
}

.row {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}
.form-box input {
  outline: none;
  padding-left: 10%;
}

#message {
  padding-top: 10%;
  padding-bottom: 20%;
}

#btn {
  margin-top: 8%;
  text-align: center;
  justify-content: center;

  background: linear-gradient(left, #4f5bd3, #00c6ff);
  border-radius: 10px;
}
