.ibutton {
    /* font-family: 'Poppins'; */
    font-size: 24px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.08;
    letter-spacing: 0.96px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    border-color: #4f5bd3;
    width: 225px;
    height: 70px;
    background-image: linear-gradient(to bottom, #8693f3, #4f5bd3);
  }
  .spand {
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    color: #4f5bd3;
  }
  .spand2 {
   
   color: #4f5bd3;
  }
  .imgnew {
    width: 50px;
    height: inherit;
}
.ipara {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #3e3e3e;
}
.ft2 {
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: 0.96px;
  text-align: center;
  color: #ffffff;
}
.fico {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  padding-top: 10px;
  letter-spacing: 0.72px;
  text-align: left;
  color: #ffffff;
}

.ficon {
  font-size: 30px;
  color: #fff;
}
.flogo {
  width: 33px;
  height: 30px;
}

.fhead {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
}

.finfo {
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
}

.page-holder {
  min-height: 100vh;
}

.bg-cover {
  background-size: cover !important;
  margin-top:-100px;
}
.wrappring{
 display:flex;
 align-items: center;
 justify-content: center;
 padding-top: 150px;
}

.aboutpara {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: normal;
  text-align: justify;
  color: #3e3e3e;
}

.imglogo {
  max-height: 30px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 400px; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  z-index: 2;
}
@media only screen and (max-width: 600px) {
  .ibutton {
    /* font-family: 'Poppins'; */
    font-size: 18px;
    width: 170px;
    height: 70px;
   
  }
  .header-style{
    font-size: 20px;
  }
  .lead{
    font-size:18px;
  }
  .ihead{
    font-size: 26px;
  }
  .ihead2{
    font-size: 26px;
  }
  .ipara{
    font-size:16px;
  }
}