* {
  margin: 0;
  padding: 0;
}

.Heading {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #292929;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bolder;
}
.box-top1 {
  background: rgb(89, 15, 209);
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15%;
  border-radius: 5px;
  color: white;
}
.box-top2 {
  padding-left: 10%;
  justify-content: center;

  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: -10%;
  margin-left: 10%;
  margin-right: 10%;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}
.box-head1 {
  text-align: center;
}
.box-top3 {
  display: flex;
  margin-top: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 30px;
  margin-left: 20px;

  border: 2px dashed rgba(0, 0, 0, 0.3);
}
.box-head2 {
  color: #4f5bd3;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 993px) {
  .box-top3 {
    max-height: 35px;
  }
  .top-img {
    margin-left: -3%;
    max-width: 25px;
    margin-left: 5%;
  }
  .box-top3 h6 {
    font-size: 12px;
    padding-left: 5%;
    padding-top: 1%;
  }
  .box-top3 .btn {
    font-size: 10px;
    margin-left: 20%;
    padding-left: 6%;
    padding-right: 6%;
    background: rgb(89, 15, 209);
    border-radius: 20px;
  }
}

@media (min-width: 993px) {
  .top-img {
    margin-top: 2%;
    margin-bottom: 1%;
    max-width: 35px;
    margin-left: 10%;
  }
  .box-top3 h6 {
    padding-left: 5%;
    padding-top: 3%;
  }
  .box-top3 .btn {
    margin-left: 19%;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    background: rgb(89, 15, 209);
  }
}

@media (max-width: 772px) {
  .box-top2 {
    max-width: 700px;
    margin-top: -15%;
  }
  .top-img {
    margin-top: 2%;
    margin-bottom: 1%;
    max-width: 15px;
    max-height: 15px;

    margin-left: 3%;
  }
  .box-top3 h6 {
    font-size: 8px;

    padding-top: 3%;
  }
  .box-top3 .btn {
    margin-left: 20%;
  }
}
@media (max-width: 576px) {
  .box-top2 {
    max-width: 400px;
    margin-top: -15%;
  }
  .top-img {
    margin-bottom: 1%;
    max-width: 30px;
    margin-left: 10%;
  }
  .box-top3 h6 {
    font-size: 12px;
    padding-left: 5%;
    padding-top: 2%;
  }
  .box-top3 .btn {
    margin-left: 25%;
  }
}

@media (max-width: 420px) {
  .box-top2 {
    max-width: 250px;
    margin-top: -10%;
  }
  .box-head1 {
    margin-left: 5%;
    font-size: large;
  }

  .top-img {
    margin-top: 2%;
    margin-bottom: 1%;
    max-width: 25px;
    margin-left: 3%;
  }
  .box-top3 h6 {
    font-size: 10px;
    padding-left: 3%;
    padding-top: 5%;
  }
  .box-top3 .btn {
    margin-left: 8%;
    justify-content: center;
    text-align: center;
    padding-bottom: 3px;
  }
}

.Subheading {
  text-align: center;
  margin-top: 45px;
}
.color {
  color: #4f5bd3;
}
.price {
  margin-left: 20%;
}
.card-img-top {
  max-width: 55px;
}

#card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -webkit-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -moz-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);

  border-radius: 13px;
  margin-top: 56px;
  margin-bottom: 105px;
}

#pricecard {
  margin-right: 10%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -webkit-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -moz-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);

  border-radius: 13px;
  margin-top: 56px;
  margin-bottom: 105px;
}

.card-img-top {
  height: 55px;
  width: 55px;
  margin-top: 25px;
}
.card-title {
  font-family: "Poppins", sans-serif;
}
.text {
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
}
.price {
  position: relative;
}

#noborder {
  border: 0px white;
}
@media (min-width: 1000px) {
  #card {
    justify-content: center;
    align-items: center;
    margin-left: 5%;
  }
}
@media (max-width: 1000px) {
  #card {
    margin-left: 10%;
  }
}
@media (max-width: 767px) {
  #card {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
  }
}
@media (min-width: 576px) {
  #card {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  #card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
  }
  .price {
    margin-left: 25%;
  }
}
@media (max-width: 446px) {
  #card {
    margin-left: 18%;
  }
  .price {
    margin-right: auto;
    justify-items: center;
    align-self: center;
  }
}
@media (max-width: 400px) {
  #card {
    margin-left: 10%;
  }
  .price {
    margin-left: 13%;
  }
}
.acc-cont {
  margin-bottom: 5%;
}
.img-acc {
  max-height: 500px;
}
