* {
  margin: 0;
  padding: 0;
}
.Heading {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #292929;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bolder;
}

.Subheading {
  text-align: center;
  margin-top: 45px;
}
.color {
  color: #4f5bd3;
}
.price {
  margin-left: 20%;
}
#card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -webkit-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -moz-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);

  border-radius: 13px;
  margin-top: 56px;
  margin-bottom: 105px;
}

#pricecard {
  margin-right: 10%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -webkit-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);
  -moz-box-shadow: -14px 14px 3px -5px rgba(239, 239, 239, 0.98);

  border-radius: 13px;
  margin-top: 56px;
  margin-bottom: 105px;
}

.card-img-top {
  height: 55px;
  width: 55px;
  margin-top: 25px;
}
.card-title {
  font-family: "Poppins", sans-serif;
}
.text {
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
}
.price {
  position: relative;
}

#noborder {
  border: 0px white;
}
@media (min-width: 1000px) {
  #card {
    margin-left: 30%;
  }
}
@media (min-width: 760px) {
  #card {
    margin-left: 10%;
  }
}
@media (min-width: 576px) {
  #card {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  #card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20%;
  }
}
@media (max-width: 446px) {
  #card {
    margin-left: 10%;
  }
}
@media (max-width: 330px) {
  #card {
    margin-left: 5%;
  }
}
